.learners{
    animation: slide ;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes slide {
       0%{
       transform: translateY(-700px);
    }
    70%{
        transform: translateY(0px);
    }
    80%{
        transform: scale(0px);
    }
    90% {
        transform: scale(120%);
    }
    100%{
        transform: scale(0px);
    }
}



.otun{
   position:relative;
   top:100px; 
   font-size:300%;
}


.top{
   position:stcky;
  top:0;
   background-color
  



}
